.header__exit-button {
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #A9A9A9;
    text-decoration: none;
}

.header__exit-button:hover {
    color: white;
}