.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 880px;
   margin: 0 auto 41px;
   padding: 45px 0 37px;
   box-shadow: 0 1px rgb(84, 84, 84, 0.7);
}

@media screen and (max-width: 900px) {
   .header {
      margin: 0 auto;
      width: 550px;
      padding-top: 45px;
      padding-bottom: 35px;
   }
}

@media screen and (max-width: 670px) {
   .header {
      margin: 0 auto 42px;
      max-width: 320px;
   }
}